.header-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
}

.wine-bg{
    background: #600808;
}
.gold-text {
    color: #D9B448;
}

  .tab button {
    background-color: black;
    color: inherit;
    border: inherit;
    font-weight: lighter;
  }
  

  .info-button{
    background-color: #A60303;
    color: white;
    border: inherit;
    font-weight: lighter;
  }
  .info-button:hover {
    background-color: #600808;
  }
  .box-shadow{
    box-shadow: 5px 10px #88888879;
  }
  .tabs__content--active{
    display: block;
  }
  .text-shadow{
    text-shadow: 1px 1px 2px #600808;
}
.nav-tabs .nav-link {
  padding: 0.25rem 0.5rem; 
  font-size: 0.9rem; 
  background-color: black;
  color: white;
  border-radius: 0;
}
.nav-tabs .nav-link.active {
  background-color: #A60303; 
  color: white; 
}
.nav-tabs .nav-link:hover {
  background-color: #600808;
  color: white; 
}



  

