.header-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
}

.wine-bg{
    background: #600808;
}
.gold-text {
    color: #D9B448;
}

  .tab button {
    background-color: black;
    color: inherit;
    border: inherit;
    font-weight: lighter;
  }
  
  .tab button:hover {
    background-color: #600808;
  }
  
  .tab button.active {
    background-color: #A60303;
  }
  .info-button{
    background-color: #A60303;
    color: white;
    border: inherit;
    font-weight: lighter;
  }
  .info-button:hover {
    background-color: #600808;
  }
  .box-shadow{
    box-shadow: 5px 10px #88888879;
  }
  .tabs__content--active{
    display: block;
  }



  

