* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

main {
   flex: 1
}

.header-logo {
    margin: 10px 20px 10px 20px;
    font-size: 1.5em;
    text-decoration: none;

}

body .login-container,
.registration-container {
    width: 40%;
    margin: 130px auto;
}

.haarlem-welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: auto;
    opacity: 1;
}

.haarlem-welcome img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.haarlem-welcome h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    text-align: center;
    font-size: 3em; 
    font-weight: bold;
}

footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #c15c5c;
}

footer .nav-link {
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
}

footer p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}