.artist-container {
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.primary-text {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: #00000030;
    padding: 1em;
    width: 60%;
}

#artistName {
    font-size: 4em;
    letter-spacing: 0.3em;
    color: #ffffff;
    font-weight: bolder;
}

#artistDescriptionTitle {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}

.description-name {
    font-weight: bolder;
}

.primary-text .dance-text {
    font-size: 2em;
    letter-spacing: 0.5em;
    color: #ffffff;
    font-weight: lighter;
}

.image-buttons {
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-buttons .get-tickets-btn {
    padding: 1em;
    border: none;
    background-color: #A60303;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.5em;
    transition: transform 0.3s ease;
}

.image-buttons .see-appearances-btn {
    padding: 1em;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 0.5em;
    margin-top: .5em;

}

.image-buttons .get-tickets-btn:hover {
    transform: scale(1.1);
}

.image-buttons .see-appearances-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.artist-description {
    margin: 4em;
    padding: 1em;
}

.artist-description h2 {
    margin-bottom: 1em;
    letter-spacing: 0.3em;
    font-size: 2em;
}

.artist-description p,
.career-hightlight-section p {
    letter-spacing: 0.1em;

}

.career-hightlight-section {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

}

.career-hightlight-section img {
    width: 100%;
    object-fit: cover;
}

.career-hightlight-section h1 {
    position: absolute;
    margin: 1em;
    padding: .3em;
    letter-spacing: 0.5em;
    font-size: 2em;
    color: #ffffff;
    font-weight: bolder;
    background-color: #00000040;
}

.career-hightlight-section p {
    margin: 1em;
}

.latest-realeases-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5em;
}


.latest-realeases-container h2 {
    margin-bottom: 1em;
    letter-spacing: 0.5em;
    font-size: 2em;
    color: #000000;
    font-weight: bolder;
}

#artistAppearancesTitle {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 4em auto 1em auto;
}

#artistAppearancesTitle h2 {
    letter-spacing: 0.3em;
    font-weight: bolder;
}

#artistAppearancesTitle h3 {
    letter-spacing: 0.2em;
    font-weight: light;
}

.artistAppearancesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artistAppearancesContainer .danceEventCard {
    display: flex;
    flex-direction: column;
    width: calc(33.33%);
    align-items: center;
}

.artistAppearancesContainer .danceEventDate {
    padding: .3em;
    font-weight: bolder;
    font-size: 1.3em;
    border-bottom: #000000 3px solid;
    width: 80%;
    text-align: center;
}

.artistAppearancesContainer .venueImg {
    object-fit: cover;
    width: 75%;
    height: 55%;
}

.artistAppearancesContainer .danceEventTime {
    padding: .3em;
    font-weight: bolder;
    border-bottom: #000000 3px solid;
    width: 80%;
    text-align: center;
}

.artistAppearancesContainer .danceEventVenue {
    padding: .3em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.artistAppearancesContainer .danceEventAddress {
    padding: .3em;
    text-align: center;
    font-size: .9em;
}

@media screen and (max-width: 790px) {
    .image-buttons {
        position: absolute;
        top: 40%;
        left: 90%;
        transform: translateX(-50%);
        font-size: .6em;
    }

    .primary-text {
        width: 40%;
    }
    
    .primary-text .artist-name {
        font-size: 2.5em;
    }
    
    .primary-text .dance-text {
        font-size: 1em;
    }

    .artistAppearancesContainer .danceEventCard {
        width: 33.33%;
        margin-bottom: 2em;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .artistAppearancesContainer .danceEventDate {
        font-size: 1.2em;
    }

    .artistAppearancesContainer .venueImg {
        width: 70%;
        height: 70%;
    }

    .artistAppearancesContainer .danceEventTime {
        padding: .3em;
        font-weight: bolder;
        border-bottom: #000000 3px solid;
        width: 60%;
        text-align: center;
        font-size: 1em;
    }

    .artistAppearancesContainer .danceEventVenue {
        font-size: .8em;
    }

    .artistAppearancesContainer .danceEventAddress {
        font-size: .6em;
    }
}