* {
    box-sizing: border-box;
}

.header {
    padding: 20px;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    margin:auto;
    margin-top: 2em;
    border-bottom: black 2px solid;
    
}

.btn-group {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-btn {
    width: 20%;
    font-size: 1.5em;
    margin-right: 1em;
    padding: .3em;
    color: #f1f1f1;
    background-color: #B5ADAD;
    border: none;
    border-radius: .3em;
} 

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #FDB99B);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.day-container {
    margin-top: 4em;
    margin-bottom: 4em;
}

.day-title {
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1.3em;
    background-color: black;
    color: white;
    width: max-content;
    padding: .5em;
}

.ticket-container {
    margin: .3em 0 .3em 2em;
    background-color: #d7d5d5;
    border-left: black 4px solid;
}

.ticket-data {
    display: flex;
    align-items: center;
}

.ticket-details {
    width: 100%;
    padding: 1em;
    margin: auto;

}

.ticket-amount {
    width: 15%;
    margin: 0 0 0 1em;
    font-size: 1.3em;
    border-radius: .2em;
    border: .2em solid #A60303;
}

.ticket-price {
    margin: 0 0 0 1em;
    font-size: 1.5em;
}

.ticket-images {
    width: 80%;
    display: flex;
    justify-content: right;
}

.artists-images {
    width: 30%;
    height: 30%;
    margin: 1em;
}

.daypass-image {
    width: 100%;
    height: 100%;
    margin: 1em;
}

.addToCart-button {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 1em;
    color: #f1f1f1;
    background-color: #A60303;
    border: none;
    border-radius: .3em;
}

@media screen and (max-width: 990px) {
    .ticket-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ticket-images {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: cover;
    }

    .artists-images {
        width: 50%;
        height: 50%;
        margin: 1em;
    }

    .ticket-amount {
        width: 20%;
    }

}

@media screen and (max-width: 660px) {
    .ticket-data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ticket-details {
        margin: auto;
    }
    .ticket-images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        object-fit: cover;
    }

    .artists-images {
        width: 25%;
        height: 30%;
        margin: 1em;
    }
}
