.reservation-restaurant {
    background-color: #c7a5a3;
}

.reservantion-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    font-style: italic;
}

.tiny-warning {
    font-size: 12px;
}

.tiny-warning i {
    margin-right: 5px;
    vertical-align: middle;
}

.back-button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-button .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reservation-row {
    background-color: #f8f9fa;
}

label {
    font-weight: bold;
    color: #A60303;
}

.asterisk-symbol {
    color: black;
    margin-left: 5px;
}

.small-message {
    font-size: 0.8rem;
    font-style: italic;
}

.reservation-fee-message {
    font-size: 1rem;
    font-weight: bold;
}

.card-icon {
    font-size: 1.5rem;
    margin-right: 5px;
}