.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #000;
    border-radius: .3em;
}

.cms-container {
    padding: 1em;
    height: 50vh;
    width: 75%;
    margin: 3em auto 3em auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.cms-buttons-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cms-btn {
    padding: 1em 1em;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #e86e6e;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.cms-btn:hover {
    background-color: #A60303;
    color: #fff;
    font-size: 2em;
    transform: scale(1.2);
}

.dance-cms-container,
.user-cms-container {
    width: 100%;
}

.btn-group {
    width: 50%;
    display: flex;
    margin: 0 auto;

}

.item-data-value {
    margin: auto;
}

#add-event-form,
#add-artist-form,
#add-venue-form,
#add-user-form,
#filtering-container {
    width: 50%;
    margin: 0 auto;
}

#filtering-container {
    width: 25%;
    margin: 0 auto;
}

.items-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: #A60303 2px solid;
    color: #000;
    border-radius: .3em;
}

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #FDB99B);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
